<section>

  <!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Joined Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Social</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Market</a>
        </li>
      </ul>
    </div>
  </nav> -->

  <ul class="subnav">
    <li ng-click="homeCtrl.goToJoined()">joined posts</li>
    <li ng-click="homeCtrl.goToExplore()">explore</li>
    <li ng-click="homeCtrl.goToFeed()">feed</li>
    <li ng-click="homeCtrl.goToSocial()">social</li>
    <li ng-click="homeCtrl.goToMarket()">market</li>
  </ul>

  <!--<section ng-if="homeCtrl.showProfileItem">
     <profile-Item profile="homeCtrl.myProfile"></profile-Item>
  </section>-->

  <section>
    <profile-tile ng-repeat="tile in homeCtrl.allProfiles" profile="tile"></profile-tile>
  </section>

  <section>
    <post-tile ng-repeat="post in homeCtrl.postsArr" post="post"></post-tile>
  </section>

  <ul>
    <merch-tile ng-repeat="merch in homeCtrl.merchesArr" merch="merch"></merch-tile>
  </ul>


<!--<script src="http://localhost:8000/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect("http://localhost:8000/socket.io/socket.io.js");
</script>-->
</section>