<section>
  <ul class="subnav">
    <li ng-click="homeCtrl.fetchJoinedPosts()">joined posts</li>
    <li ng-init="homeCtrl.fetchAllProfiles()" ng-click="homeCtrl.fetchAllProfiles()">home</li>
    <li ng-click="homeCtrl.fetchJoinedProfiles()">followed</li>
    <li>placeholder</li>
    <li>placeholder</li>
  </ul>

  <h1>Welcome to the Home page</h1>

  <section>
    <profile-tile ng-repeat="tile in homeCtrl.allProfiles" profile="tile"></profile-tile>
  </section>

  <section>
    <post-tile ng-repeat="post in homeCtrl.joinedPosts track by $index" post="post"></post-tile>
  </section>
</section>