.report {
  // outline: 1px solid blue;

  font-size: 15px;

  .title {
    display: block;
    text-align: center;
  }
  .set {
    display: block;
    // outline: 1px solid red;

    margin: 10px;

    textarea {
      width: 100%;
      height: 100px;
      resize: none;
    }

  }

  .report-btns {
    display: block;
    text-align: end;
    font-size: 15px;
    .report-btn {
      display: inline-block;
      margin: 10px;
    }

  }

  
}