.post-tile {
  display: inline-block;
  width: 300px;
  // height: 300px;
  background-color: #006699;
  margin: 10px;

 .header {
   border: 1px solid black;
   display: block;
   background-color: black;
   color: white;
   img {
     width: 50px;
   }
   div {
     display: inline-block;
   }
 }

 .post-tile {
   display: block;
   background-color: white;
 }

 .post-content {
   img {
     width: 100%;
   }
 }

 .reposter {
   background-color: white;
   color: green;
 }

 .post-desc {
   background-color: white;
   border: 1px solid black;
   height: 100px;
 }

 .repost {
   img {
     max-width: 20px;
   }
   border: 1px solid grey;
   background-color: lightgrey;
   width: 80%;
  //  height: 100px;
 }
}