<section class="post-tile" ng-init="postTileCtrl.check(postTileCtrl.post.data)">

    <section class="header">
      <div>
         <img ng-src="{{postTileCtrl.poster.profilePicURI}}">
         </div>
      <div class="poster-name"> {{postTileCtrl.poster.name}}</div>
      <button ng-if="postTileCtrl.isMyPost" ng-click="postTileCtrl.openEditPostModal()">edit</button>
      <button ng-if="postTileCtrl.isMyPost" ng-click="postTileCtrl.deletePost()">delete</button>
    </section>

    <section class="post-content" ng-click="postTileCtrl.openComponentModal(postTileCtrl.post)">
      <img  ng-if="!postTileCtrl.isVid" ng-src="{{postTileCtrl.post.postPicURI }}" alt="">
      <video ng-if="postTileCtrl.isVid" ng-src="{{postTileCtrl.post.postPicURI}}" controls>
           Your browser does not support HTML5
      </video>
    </section>

</section>