<section class="post-tile" ng-click="postTileCtrl.openComponentModal(postTileCtrl.post.data)">
  
    <ul class="post-info">
      <h2>POST TILE</h2>
      <li> <img src="{{postTileCtrl.post.data.posterProfilePicURI}}"></li>
      <li class="poster-name">Poster: {{postTileCtrl.post.data.posterName}}</li>
      <li> Date: {{postTileCtrl.post.data.created | date : 'mediumDate'}}</li>
      <li> <img ng-src="{{postTileCtrl.post.data.postPicURI }}" alt=""> </li>
      <li>Description: {{postTileCtrl.post.data.description}}</li>      
    </ul>


</section>