<section class="create-merch">
  <h3>STEP 1</h3>

  <section class="create-merch-tile" ng-if="!createMerchCtrl.showCreateForm">
    <h2> {{ createMerchCtrl.createdMerch.name}} </h2>
    <p> {{ createMerchCtrl.createdMerch.desc}} </p>
  </section>

  <form ng-submit="createMerchCtrl.createMerch()" ng-if="!createMerchCtrl.showCreateForm">

    <input type="text" placeholder="name" ng-model="createMerchCtrl.merch.name">

    <!--<input type="text" placeholder="picture url" ng-model="createMerchCtrl.merch.picURI">-->

    <textarea cols="40" rows="5" placeholder="item descriptions" ng-model="createMerchCtrl.merch.desc">
    </textarea>

    <!--<input type="number" placeholder="price" ng-model="createMerchCtrl.merch.price">

    <input type="number" placeholder="quantity" ng-model="createMerchCtrl.merch.qtty">-->

    <button>create</button>

  </form>

  <h3>STEP 2</h3>
  <create-option merch="createMerchCtrl.merch"></create-option>
</section>