
<section ng-init="showCreateBtn = true">
  <button ng-show="showCreateBtn" ng-click="showCreateBtn=false">edit answer</button>
  <section class="edit-answer"  ng-show="!showCreateBtn">
    <form action="" ng-submit="editAnswerCtrl.editAnswer()">
      <p >
          {{editAnswerCtrl.answer.answer}}  

      </p>

      <textarea cols="30" rows="10"  ng-model="editAnswerCtrl.answer.answer" placeholder="write answer here">
      </textarea>
      <label for="">add img URI</label>
      <input type="text" ng-model="editAnswerCtrl.answer.answerImgURI">
      <button type="submit">edit answer</button>

      </form>
  </section>
  <button ng-show="!showCreateBtn" ng-click="showCreateBtn = true">cancel</button>
</section>


