.room-ctrl  {

  .room-ctrl-side {
    border: 2px solid grey;
    display: inline-block;
    width: 350px;
    height: 700px;
  }

  .room-ctrl-main {
    border: 2px solid grey;
    display: inline-block;
    width: 500px;
    height: 700px;
  }
}