<section class="member">


  <h2>Member Modal</h2>

  {{memberCtrl.profile.friends[0].name}}


  <!--<profile-tile ng-repeat="friend in memberCtrl.profile.friends" profile="friend" ng-click="memberCtrl.pushToAdd(friend)"></profile-tile>-->
  <li ng-repeat="friend in memberCtrl.profile.friends" ng-click="memberCtrl.pushToAdd(friend)"> {{ friend.name }}</li>

  <button ng-click="memberCtrl.fetchFriends()">choose friends</button>

  <button ng-click="memberCtrl.addMembers()">add</button>
  <button ng-click="memberCtrl.removeMembers()">remove</button>
</section>