<section>

<nav class="account-settings-nav">
  <ul>
    <li ng-click="settingsCtrl.accountProfile()">profile</li>
    <li ng-click="settingsCtrl.accountContent()">my content</li>
    <li ng-click="settingsCtrl.accountPages()">pages</li>
    <li ng-click="settingsCtrl.accountProducts()">products</li>
  </ul>
</nav>

  <account-profile ng-if="settingsCtrl.showprofile" ></account-profile>

  <account-content ng-if="settingsCtrl.showcontent" ></account-content>

  <account-pages ng-if="settingsCtrl.showpages" ></account-pages>

  </section>
