.login-form {
  width: 85%;
  margin: auto;

  h2 {
      text-align: center;
    }

  form {
    border: none;

    input {
      display: block;
      width: 60%;
      height: 30px;
      margin: auto;
      margin-top: 10px;
      padding: 5px;
      font-size: 15px;
    }

    input[type=submit] {
      height: 40px;
      background-color: #BFD8D2;
      border: none;
      color: white;
      font-size: 15px;
      transition: 350ms;
      line-height: 0;

      &:hover {
      background-color: #DF744A;
      color: #fff;
      }

      label {
        margin-bottom: 0;
      }
    }
  }
}


.ignore-valid {
  &:valid {
    background: #eee !important;
  }
}

form {
  max-width: 450px;
  margin: 0 auto;

  // positioning context
  > div {
    position: relative;
    background: white;
    border-bottom: 1px solid #ccc;

    // Looks like placeholder
    > label {
      opacity: 0.3;
      font-weight: bold;
      position: absolute;
      bottom: calc(50% - 10px);
      left: 20px;
      margin-bottom: 0;
    }

    > input[type="text"],
    > input[type="email"],
    > input[type="password"] {
      width: 100%;
      border: 0;
      padding: 20px 20px 20px 50px;
      background: #eee;

      &:focus {

        // removing default focus style
        outline: 0;
        // adding new one
        background: #E5E2DB;

        & + label {
          opacity: 0;
        }
      }

      &:valid {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-color: #eee;
        & + label {
          opacity: 0;
        }
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        background: pink;
        & + label {
          opacity: 0;
        }
      }

      &:invalid:focus:not(:placeholder-shown) {
        & ~ .requirements {
          max-height: 200px;
          padding: 0 30px 20px 50px;
        }
      }
    }

    .requirements {
      padding: 0 30px 0 50px;
      color: #999;
      max-height: 0;
      transition: 0.28s;
      overflow: hidden;
      color: red;
      font-style: italic;
    }
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: #DF744A;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
  }
}

body {
  // background: #333;
  font-family: 'PT Sans', sans-serif;
  // padding: 20px;
}
* {
  box-sizing: border-box;
}

.login-form {
  form {
    div {
      border: none;
    }
  }
}
