<section class="create-page" class="createpage">

<section>
  <form name="createPageForm" ng-submit="createPageCtrl.createPage()">

    <label for="name">Page name</label>
    <input name="name" type="text" ng-minlength="4" ng-model="createPageCtrl.page.pageName">

    <label for="Desc">Page description</label>
    <input name="Desc" type="text" ng-minlength="4" ng-model="createPageCtrl.page.pageDesc">
    <label for="">Public</label>
    <input type="checkbox" ng-click="createPageCtrl.check()" ng-model="createPageCtrl.page.public">

    <button ng-disabled="createPageForm.$invalid">create page</button>
  </form>
</section>
  
</section>