.room-item {

  .room-item-header {
    background-color: black;
    color: white;
  }

  .room-item-footer {
    background-color: black;
    border: 1px solid white;
    margin-top: 100%;
    color: white;
    margin-bottom: -200px;
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
}

.msg-tile {
  background-color: white;
  border: 1px solid grey;
  border-radius: 20px;
  img {
    width: 50px;
  }
}