<section class="room-item">

  <header class="room-item-header">
    <p> {{roomItemCtrl.room.name}}</p>

    <p> {{roomItemCtrl.room._id}} </p>
    <button ng-click="roomItemCtrl.openMemberModal(roomItemCtrl.profile)">add friend</button>
  </header>



  <!--<msg-tile ng-repeat="msg in roomItemCtrl.msgArr" msg="msg"></msg-tile>-->

  <li class="msg-tile" ng-repeat="msg in roomItemCtrl.msgArr">
    <img ng-src="{{msg.profilePicURI}}" alt="">
    <p> {{ msg.name }} </p>
    <p> {{ msg.created }} </p>

    <p> {{ msg.content }} </p>
 </li>



  <footer class="room-item-footer">
    <img ng-src="{{ roomItemCtrl.profile.profilePicURI}}" alt="">
    <p> {{ roomItemCtrl.profile.name }} </p>

    <form ng-submit="roomItemCtrl.createMsg()">
       <textarea ng-model="roomItemCtrl.msg.content" name="" id="" cols="40" rows="1" minlength="1"></textarea>
       <button>send</button>
    </form>

    <button ng-click="roomItemCtrl.bark()">bark</button>
   
  </footer>

</section>
