<section class="create-answer" ng-init="showCreateBtn = true">

  <section class="profile">
    <img class="pic" src="{{createAnswerCtrl.profile.profilePicURI}}" alt="">

    <div class="names">
      <p class="name"> {{createAnswerCtrl.profile.name}} </p>
      <p class="name">@ {{createAnswerCtrl.profile.name}} </p>
    </div>
  </section> 



  <div class="ta-editor answer-editor" ng-if="createAnswerCtrl.post.type === 'question' " text-angular ng-model="createAnswerCtrl.answerData.answer" ta-toolbar="[['bold','italics', 'underline', 'ul', 'ol', 'insertImage', 'insertLink', 'insertVideo'],['redo', 'undo']]"></div>
  <div class="ta-editor comment-editor" ng-if="createAnswerCtrl.answer || createAnswerCtrl.post.type !== 'question' " text-angular ng-model="createAnswerCtrl.answerData.answer" ta-toolbar="[]"></div>

  <section class="answer-btns">
      <div class="answer-btn cancel" ng-if="createAnswerCtrl.showreply" ng-click="createAnswerCtrl.showreply = false">
          <span> cancel </span>
      </div>
      
      <div class="answer-btn create"  ng-click="createAnswerCtrl.createAnswer()">
        <span ng-if="createAnswerCtrl.post.type === 'question' "> answer  </span>
        <span ng-if="createAnswerCtrl.answer"> reply  </span>
        <span ng-if="createAnswerCtrl.post.type !== 'question' && !createAnswerCtrl.answer"> comment  </span>
      </div>
  </section>
  
</section>