<section>

<h3>Account content</h3>

 <ul class="accountContent-navbar">
   <li ng-click="accountContentCtrl.fetchMyPosts()">my posts</li>
   <li ng-click="accountContentCtrl.fetchMyComments()">my comments</li>
   <li ng-click="accountContentCtrl.fetchMyAnswers()"> answers </li>
   <li>placeholder</li>
 </ul>

 <section>
    <post-tile ng-repeat="post in accountContentCtrl.postsArr" post="post"></post-tile>
  </section>

  <section>
    <comment-item ng-repeat="comment in accountContentCtrl.myCommentsArray" 
                          comment="comment" 
                          profile="postItemCtrl.myProfile[0]">
    </comment-item>
  </section>

  <section>
    <answer-item ng-repeat="answer in accountContentCtrl.answersArr" answer="answer"></answer-item>
  </section>


  </section>
