@import "../../../scss/lib/theme/vars";

.pageItem {
  

  .banner {
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }
  .page-main {
  display: inline-block;
  li {
    display: inline-block;

    img {
      border-radius: 50%;
      width: 50px;
    }
  }
  
  li:nth-child(3) {
    margin-left: 80vw;
    border: 1px solid black;
    span {
      display: inline-block;
      width: 50px;
      &:nth-child(2) {
        background-color: lightgreen;
      }
    }
  }
}

}
