@import "../../../scss/lib/theme/vars";

.page-item {
  

  // .dynamic-grid {
  //   outline: 1px solid red;
  //   // background-color: blue;
// }

    .posttile {
      background-color: orange;
      // min-width: 300px;
      // height: 400px;
      // height: inherit;
    }

    .item {
      width: 300px;
      img {
        max-width: 300px;
      }
    }




    .grid {
      list-style: none;
      background: #ffffff;
      box-sizing: border-box;
      -moz-box-sizing : border-box;
      -webkit-transition: all 0.6s ease-out;
      transition: all 0.6s ease-out;
    
      position: absolute;
      list-style: none;
      background: #ffffff;;
      box-sizing: border-box;
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
      // overflow: hidden;
      border-radius: 10px;
    
    }
    .grid.ng-leave {
      -webkit-transition: all ease 400ms;
      transition: all ease 400ms;
    }
    .grid.ng-leave.ng-leave-active {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0;
    }
    .grid.ng-enter {
      -webkit-transition: all ease 400ms;
      transition: all ease 400ms;
      -webkit-transition-delay: 500ms;
      transition-delay: 500ms;
      -webkit-transform: scale(0.5);
       transform: scale(0.5);
      opacity: 0;
    }
    .grid.ng-enter.ng-enter-active {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    
    // .grid-img {
    //   width: 100%;
    //   vertical-align: middle;
    //   -webkit-transition: opacity 0.6s ease-out;
    //   transition: opacity 0.6s ease-out;
    //   background-color: #fff;
    //   // opacity: 0;
    //   // visibility: hidden;
    // }
    

  //   .itemz {
  //     background-color: green;
  //     width: 400px;
  //     height: 200px;
  //   }
  // }

  .banner {
    width: 100%;
    max-height: 30vh;
  }
  .page-main {
    // height: ;
    // background-color: green;
    padding: 10px 0;
    .main-container {
      // background-color: red;
      height: 5vh;
      width: 90%;
      margin: 0 auto;
      .main-head {
        // outline: 1px solid black;
        display: inline-block;
        height: 100%;
      }
  
      .main-btns {
        // display: inline-block;
        // background-color: yellow;
        float: right;
        height: 100%;
        width: 100px;

        .main-btn {
          // background-color: tan;
          display: block;
          margin: auto;
          // width: 100%;
          // height: 100%;
          width: 100px;
          height: 30px;
          text-align: center;
          line-height: 10px;
          // display:table-cell;
          // vertical-align:middle;
          padding: 10px;
          // padding: 10%;
        }
  
        .edit-btn {
          border: 1px solid black;
          background-color: #20C5FE;
          color: white;
        }
        .join-btn {
          border: 1px solid black;
          background-color: #37E385;
        }
        .leave-btn {
          border: 1px solid black;
          background-color: #E60909;
        }
      }
    }
  }

  .subnav {
    display: block;
    // background-color: tan;
    height: 4vh;
    .subnav-container {
      // background-color: yellow;
      box-sizing: border-box;
      display: inline-block;
      height: 4vh;
      width: 100%;
      // margin: 0 auto;
      // padding: 10px;
      text-align: center;
      .subnav-btn {
        box-sizing: border-box;
        display: inline-block;
        // background-color: purple;
        height: 100%;
        width: 15%;
        min-width: 50px;
        // padding: 10px;
        // margin: 0 10px;
        &:hover {
          color: #71CAF1;
          border-bottom: 1px solid #71CAF1;
        }
      }
    }
  }
    .create-container {
      // box-sizing: border-box;
      // color: green;
      display: block;
      // background-color: blue;
      // height: 30px;
      // padding: 10px;
      // // width: 150px;
      height: 30px;
      // text-align: center;
      .create-btn {
        width: 100px;
        height: 30px;
        outline: 1px solid black;
        // background-color: #86E386;
        float: right;
        text-align: center;
        line-height: 30px;
        // margin: 10px;
      }
    }

}


// .page-item {
  

//   .banner {
//     width: 100%;
//     max-width: 1000px;
//     margin: 0 auto;
//     height: 250px;
//   }
//   .page-main {
//   display: inline-block;
//   li {
//     display: inline-block;

//     img {
//       border-radius: 50%;
//       width: 50px;
//     }
//   }
  
//   .memberBtn {
//     margin-left: 80vw;
//     border: 1px solid black;
//     span {
//       display: inline-block;
//       width: 50px;
//       &:nth-child(2) {
//         background-color: lightgreen;
//       }
//     }
//   }
// }

// }
