<section class="page-item">


    <img class="banner" ng-src="{{pageItemCtrl.page.pageBannerURI}}">
    <div class="page-main">
      <ul class="main-container">
        <li class="main-head">
          <h3> {{pageItemCtrl.page.pageName}} </h3>
          <p> {{pageItemCtrl.count}}0000000 members </p>
        </li>
        <li class="main-btns">
          <span class="main-btn edit-btn" ng-if="pageItemCtrl.showEditBtn" ng-click="pageItemCtrl.goToEditPage()">edit page</span>
          <span class="main-btn join-btn" ng-if="!pageItemCtrl.showLeaveBtn && !pageItemCtrl.showEditBtn" ng-click="pageItemCtrl.joinPage()">join</span>
          <span class="main-btn leave-btn" ng-if="pageItemCtrl.showLeaveBtn && !pageItemCtrl.showEditBtn" ng-click="pageItemCtrl.leavePage()">leave</span>
        </li>
      </ul>
    </div>
    
   
   <section class="subnav">
    <section class="subnav-container" ng-show="!showSearchBar"> 
      <div class="subnav-btn posts" ng-click="pageItemCtrl.pagePosts()"> POSTS </div>
      <div class="subnav-btn feed" ng-click="pageItemCtrl.pageFeed()"> FEED </div>
      <div class="subnav-btn merch" ng-click="pageItemCtrl.pageMerch()"> MERCH </div>
      <div class="subnav-btn about" ng-click="pageItemCtrl.goToAbout()"> ABOUT </div>
      <div class="subnav-btn search" ng-click="showSearchBar = true">
          <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="subnav-btn create" ng-if="pageItemCtrl.showPostBtn" ng-click="pageItemCtrl.openCreatePostModal()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
      <div class="subnav-btn create" ng-if="!pageItemCtrl.showPostBtn" ng-click="pageItemCtrl.goToMerch()">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </section>

      <section class="search-container" ng-show="showSearchBar">

        <div class="filter-container" uib-dropdown on-toggle="toggled(open)">
          <span  uib-dropdown-toggle alt=""> 
              <p>{{ pageItemCtrl.filter_type}}</p>
          </span>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li class="menu-op" ng-click="pageItemCtrl.filter('all')">
                <p>all</p>
            </li>
            <li class="menu-op" ng-click="pageItemCtrl.filter('pic')">
                <p>image</p>
            </li>
            <li class="menu-op" ng-click="pageItemCtrl.filter('video')">
              <p>video</p>
            </li>
            <li class="menu-op" ng-click="pageItemCtrl.filter('question')">
                <p>question</p>
            </li>
            <li class="menu-op" ng-click="pageItemCtrl.filter('article')">
                <p>article</p>
            </li>
            <li class="menu-op" ng-click="pageItemCtrl.filter('poll')">
              <p>poll</p>
            </li>
          </ul>
        </div>
        
        <input type="text" class="search-bar" placeholder="search">
        <div class="remove-btn">
          <span class="glyphicon glyphicon-remove" ng-click="showSearchBar = false" aria-hidden="true"></span>
        </div>
      </section>
  </section>
  

  <section class="page-about" ng-if="pageItemCtrl.showAbout">
    <div class="about-section">
      <h2 class="about-title"> Description</h2>
      <p class="about-content">
        {{ pageItemCtrl.page.pageDesc}}
      </p>
    </div>
    <div class="about-section about-links">
      <h2 class="about-title"> Links </h2>

      <div class="about-link" ng-repeat="link in pageItemCtrl.page.links">
        <a href="{{link.link}}"> {{ link.name}} </a>
      </div>
    </div>
  </section>

  <div class="page-tiles">
    <post-tile ng-if="!pageItemCtrl.showAbout" class="posttile"  posts="pageItemCtrl.postsArr"></post-tile>
    <merch-tile ng-repeat="merch in pageItemCtrl.merchesArr" merch="merch"></merch-tile>
  </div>
  
</section>