
<section class="pageItem">
  <!--<div ng-if="!profileViewCtrl.showEditView">-->

    <img class="banner" ng-src="{{pageItemCtrl.page.pageBannerURI}}">

    <ul class="page-main">
      <li><img ng-src="{{pageItemCtrl.page.profilePicURI}}"></li>
      <li><h3> {{pageItemCtrl.page.pageName}} </h3></li>
      <li> {{pageItemCtrl.page.pageDesc}} </li>
      <li class="memberBtn">
        <span>{{pageItemCtrl.count}}</span>
         <span class="joinpage" ng-if="!pageItemCtrl.showLeaveBtn" ng-click="pageItemCtrl.joinPage()">join</span>
         <span class="joinpage" ng-if="pageItemCtrl.showLeaveBtn" ng-click="pageItemCtrl.leavePage()">leave</span>
      </li>
    </ul>
    
   <edit-page ng-if="pageItemCtrl.showEditBtn" page="pageItemCtrl.page"></edit-page>

   <section class="subnav">
    <ul> 
      <!--ng-init="pageItemCtrl.fetchPagePosts()"-->
      <li ng-click="pageItemCtrl.fetchPagePosts()">posts</li>
      <li>placeholder</li>
      <li>placeholder</li>
    </ul>
  </section>

  <!--</div>-->
  <!--<div ng-if="profileViewCtrl.showEditOption">
  <input class="btn-std commenter-button" value="edit profie" type="submit" id="edit-button" ng-if="!profileViewCtrl.showEditView" ng-click="profileViewCtrl.showEditView = true">
  <edit-profile ng-if="profileViewCtrl.showEditView" on-profile-updated="profileViewCtrl.updateProfileView()" profile="profileViewCtrl.profile"></edit-profile>    
  </div>-->

  <button type="button" class="btn btn-default" ng-click="pageItemCtrl.openComponentModal(pageItemCtrl.page)">create post</button>
  <button ng-click="pageItemCtrl.openCreateForumModal(pageItemCtrl.page)">create forum</button>

  <!--<div>
    <create-post on-post-created="profileViewCtrl.updateProfileView()" profile="profileViewCtrl.profile"></create-post>
  </div>-->

  <!--<ul>
    <post-item ng-repeat="post in profileViewCtrl.postsArray" post="post"></post-item>
  </ul>-->

  <button ng-click="pageItemCtrl.fetchPageForums()">bark</button>

  <ul>
    <post-tile class="posttile" ng-repeat="post in pageItemCtrl.postsArr" post="post"></post-tile>
  </ul>

  <ul>
    <forum-tile ng-repeat="forum in pageItemCtrl.forumArr" forum="forum"></forum-tile>
  </ul>
  
</section>