<section class="create-option">

  <section class="option-table">
   <table>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>unit price</th>
      <th>qtty</th>
      <th>total</th>
      <th>remove</th>
    </tr>

    <tr ng-repeat="option in cartCtrl.optionsArr">

     <td> <img ng-src="{{option.picURI}}" alt=""> </td>
     <td> {{option.name}} </td>
     <td> {{option.price}} </td>
     <td> {{option.qtty}} </td>
     <td> $100 </td>
     <td> x </td>

    </tr>


  </table>
  </section>

  <form ng-submit="createOptionCtrl.createOption()" ng-if="createOptionCtrl.showCreateForm">

    <input type="text" placeholder="option name 1" ng-model="createOptionCtrl.option.name1">
    <input type="text" placeholder="option value 1" ng-model="createOptionCtrl.option.val1">

    <input type="text" placeholder="option name 2" ng-model="createOptionCtrl.option.name2">
    <input type="text" placeholder="option value 2" ng-model="createOptionCtrl.option.val2">

    <input type="text" placeholder="option name 3" ng-model="createOptionCtrl.option.val3">
    <input type="text" placeholder="option value 3" ng-model="createOptionCtrl.option.val3">


    <input type="text" placeholder="picture url" ng-model="createOptionCtrl.option.picURI">

    <input type="number" placeholder="price" ng-model="createOptionCtrl.option.price">

    <input type="number" placeholder="quantity" ng-model="createOptionCtrl.option.qtty">

    <button>create</button>

  </form>
  <button ng-click="createOptionCtrl.bark()">bark</button>
  <button ng-if="!createOptionCtrl.showCreateForm" ng-click="createOptionCtrl.showCreateForm=true">add option</button>
  <button ng-if="createOptionCtrl.showCreateForm" ng-click="createOptionCtrl.showCreateForm=false">cancel</button>
</section>