.profile-item {
  display: block;
  width: 100%;
  height: 100%;

  .searches {
    background-color: white;
    display: block;
    border: 1px solid black;
    img {
      width: 30px;
    }
  }
  .profile-item-nav {
    border: 1px solid black;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
    background-color: #4d4d4d;
    color: white;

    img {
      width: 50px;
      border-radius: 50%;
    }
    li {
      padding: 10px;

      &:hover{
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }

  .profile-item-content {
    position: absolute;
    border: 1px solid black;
    display: inline-block;
    height: 100%;
    width: 700px;
  }
}