@import "../../../scss/main";


// .profile-item {
//   @include container-fixed(10px);
//   .profile-item-row {
//     @include make-row(10px);
//     .profile-item-nav {
//       background-color: #2FB8F4;
//       @include make-xs-column(3, 5%);
//       @include make-sm-column(3, 5%);
//       @include make-lg-column(3, 5%);
//     }
      
//     .profile-item-content {
//       background-color: yellow;
//       @include make-xs-column(3, 5%);
//       @include make-sm-column(3, 5%);
//       @include make-lg-column(3, 5%);
//     }
//   }
  

// }



//========================================================

.profile-item {

  .profile-item-nav {
    display: inline-block;
    outline: 1px solid black;
    width: 250px;
    height: 100vh;
    background-color: #191936;
    color: white;

    .nav-head {

      .head-pic {
        display: inline-block;
        border-radius: 50%;
      }

      .head-names {
        display: inline-block;

        p {
          padding: 5px;
        }
      }
    }

    .nav-op {
      outline: 1px solid black;
      display: block;
      padding: 15px;
    }

    @media screen and (max-width: 700px){
      display: none;
    }
  }

  .nav-hidden {
    display: block;
    position: absolute;
    z-index: 10;
  }

  .profile-item-content {
    @include container-fixed(10px);
    outline: 1px solid black;
    background-color: white;

    display: inline-block;
    position: absolute;
    width: 80%;
    height: 100vh;

    .content-container {
      @include make-row(10px);
      outline: 1px solid black;
      display: block;
      // position: fixed;
      // width: 100%;
      height: 5vh;
      // background-color: red;
      .content-menu {
        @include make-xs-column(2, 5%);
        @include make-sm-column(1, 5%);
        @include make-lg-column(1, 5%);
        height: 100%;
        // background-color: tan;

        .menu-btn {
          display: none;
          outline: 1px solid black;
          height: 100%;
          // width: 50px;
          // padding: 10px;
          @media screen and (max-width: 700px){
            display: block;
            // background-color: green;
          }
        }
      }
      .content-search {
        @include make-xs-column(5, 5%);
        @include make-sm-column(8, 5%);
        @include make-lg-column(8, 5%);
        height: 100%;
        // background-color: plum;

        input {
          width: 90%;
          height: 100%;
          max-height: 30px;
        }

        .search-results {
          outline: 1px solid black;
          background-color: white;
          display: block;
          height: 50px;
          z-index: 1;
          width: 90%;
          padding: 10px;
          img {
            border-radius: 50%;
            width: 40px;
          }
        }

        .search-op-btn {
          display: none;
          width: 70px;
          height: 30px;
          // background-color: blue;
        }

        @media screen and (max-width: 700px){
          .search-op {
            display: none;
          }
          .search-op-btn {
            display: block;
            margin: 0 auto;
            height: 100%;
          }
        }
      }

      .content-search-hidden {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: white;

        input {
          width: 90%;
          height: 100%;
        }

        .search-cancel {
          // background-color: teal;
          float: right;
          height: 100%;
          width: 10%;
        }
        .search-results {
          outline: 1px solid black;
          background-color: white;
          display: block;
          height: 50px;
          // width: 100%;
          padding: 10px;
          img {
            border-radius: 50%;
            width: 40px;
          }
        }
      }
      
      .content-create {
        @include make-xs-column(5, 5%);
        @include make-sm-column(3, 5%);
        @include make-lg-column(3, 5%);
        height: 100%;
        // background-color: greenyellow;
        // line-height: 100%;
        .create-btn {
          background-color: #7AC0FE;
          box-sizing: border-box;
          // float: right;
          display: inline-block;
          outline: 1px solid black;
          height: 100%;
          text-align: center;

        }
      }

    }

    @media screen and (max-width: 700px){
      width: 100%;
    }
  }
}


// content-search {
//   outline: 1px solid black;
//   display: inline-block;
//   width: 60%;
//   input {
//     height: 30px;
//     width: 100%;
//   }
// }
// .content-create {
//   outline: 1px solid black;
//   display: inline-block;
//   width: 20%;
//   height: 100%;
//   .create-btn {
//     background-color: red;
//     display: inline-block;
//     width: 50px;
//     height: 30px;
//     // padding: 10px 20px;
//   }
// }
//===============================================================

// .profile-item {
//   display: block;
//   width: 100%;
//   height: 100%;

//   .searches {
//     background-color: white;
//     display: block;
//     border: 1px solid black;
//     img {
//       width: 30px;
//     }
//   }
//   .profile-item-nav {
//     border: 1px solid black;
//     display: inline-block;
//     position: relative;
//     width: 200px;
//     height: 100%;
//     background-color: #4d4d4d;
//     color: white;

//     img {
//       width: 50px;
//       border-radius: 50%;
//     }
//     li {
//       padding: 10px;

//       &:hover{
//         background-color: white;
//         color: black;
//         border: 1px solid black;
//       }
//     }
//   }

//   .profile-item-content {
//     position: absolute;
//     border: 1px solid black;
//     display: inline-block;
//     height: 100%;
//     width: 700px;
//   }
// }