<section class="profile-item">

  <section class="profile-item-nav">
    <ul>
      <li class="nav-op nav-head" ng-click="profileItemCtrl.goToMyProfile()">

        <img class="head-pic" ng-src="{{profileItemCtrl.profile.profilePicURI}}">
        <p>{{ profileItemCtrl.profile.name}}</p> 
        <p>{{ profileItemCtrl.profile.name}}@gmail.com</p> 

      </li>
      <li class="nav-op" ng-click="profileItemCtrl.bark()">bark</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('timeline')">timeline</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('posts')">posts</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('chat')">chats</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('friends')">friends</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('requests')">friend requests {{profileItemCtrl.profile.friendReq.length}}</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('pages')">pages</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('joined')">joined pages</li>
      <li class="nav-op" ng-click="profileItemCtrl.goTo('notifs')">notifications</li>
      <li class="nav-op" ng-click="profileItemCtrl.goToAccount()">account</li>
    </ul>
  </section>

  <section class="profile-item-content">
    hahahah
    <section> 
      <ul>
      <input type="text" placeholder="search for friends" ng-Change="profileItemCtrl.searchProfiles()" ng-model="profileItemCtrl.searchName">
        <li class="searches" ng-repeat="profile in profileItemCtrl.searchesArr" ng-click="profileItemCtrl.goToProfile(profile._id)">
          <img ng-src="{{profile.profilePicURI}}" alt="">  {{ profile.name}}
        </li>
      </ul>
      <button ng-if="profileItemCtrl.showPostBtn" ng-click="profileItemCtrl.openCreatePostModal()">create post</button>
    </section>

    <section >
      <profile-tile ng-repeat="profile in profileItemCtrl.profileArr" profile="profile"></profile-tile>
    </section>

    <section>
        <post-tile ng-repeat="post in profileItemCtrl.friendsPosts" post="post"></post-tile>
    </section>

    <section ng-show="profileItemCtrl.showCreatePage">
      <create-page></create-page>
      <page-tile ng-repeat="page in profileItemCtrl.pagesArr" page="page"></page-tile>
    </section>

    <button ng-if="profileItemCtrl.showRoomBtn" ng-click="profileItemCtrl.createRoom()">create room</button>
    <room-tile ng-repeat="room in profileItemCtrl.roomsArr" room="room"></room-tile>
  </section>




</section>