<section class="createpoll">

<section>
  <form name="createPollForm" ng-submit="createPollCtrl.createPoll()">

    <label for="name">Poll title</label>
    <input name="name" type="text" ng-minlength="4" ng-model="createPollCtrl.poll.title">

    <label for="Desc">Poll description</label>
    <input name="Desc" type="text" ng-minlength="4" ng-model="createPollCtrl.poll.Desc">

    <label for="Desc">Poll choice 1</label>
    <input name="" type="text" ng-minlength="1" ng-model="createPollCtrl.choice1">
    
    <label for="Desc">Poll choice 2</label>
    <input name="" type="text" ng-minlength="1" ng-model="createPollCtrl.choice2">

    <label for="Desc">Poll choice 3</label>
    <input name="" type="text" ng-minlength="1" ng-model="createPollCtrl.choice3">

    <button ng-disabled="createPollForm.$invalid">create poll</button>
  </form>
</section>

<button ng-click="createPollCtrl.cancel()">cancel</button>
<button ng-click="createPollCtrl.bark()">bark</button>
  
</section>
