@import "../../scss/main";

.signup-form {
  
    form {
      text-align: center;
      padding: 10px;
      width: 50%;
      min-width: 300px;
      max-width: 500px;
      margin: 10% auto;
      border: 1px solid grey;

      legend {
        font-size: 30px;
      }
      input {
        width: 80%;
        padding: 10px;
        display: block;
        margin: 10px auto;
        height: 30px;
        border: 1px solid grey;
      }

      input[type=submit] {
        transition: 350ms;
        &:hover {
          background-color: $app-secondary;
          color: #fff;
        }
      }
    }

  
}


