.signup-form {
  width: 85%;
  margin: auto;

  h2 {
      text-align: center;
    }

  form {
    border: none;

      input {
        display: block;
        width: 60%;
        height: 30px;
        margin: auto;
        margin-top: 10px;
        padding: 5px;
        font-size: 15px;
        border-bottom: 0;
      }

      input[type=submit] {
        height: 40px;
        width:100%;
        background-color: #BFD8D2;
        border: none;
        color: white;
        font-size: 15px;
        transition: 350ms;
        margin: 20px 0 20px 0;

        &:hover {
          background-color: blue;
          color: #fff;
        }
      }

      label {
        margin-bottom: 0;
      }
  }
}

.signup-form {
  form {
    div {
      border: none;
    }
  }
}
