<section class="profile-view">

  <img class="banner" ng-src="{{profileViewCtrl.profile.profileBannerURI}}">

  <section class="profile-main">
    <img class="main-pic" ng-src="{{profileViewCtrl.profile.profilePicURI}}"></div>
    <div class="main-name">
      <p class="name"> {{profileViewCtrl.profile.name}} </p>
      <p class="name"> {{profileViewCtrl.profile.name}} </p>
      <!-- <img src="{{profileViewCtrl.profile.profilePicURI}}" alt=""> -->
    </div>
    <div class="main-btns">
      <!-- <span>{{profileViewCtrl.profile.friendxs.length}}</span> -->
      <span class="main-btn" ng-if="profileViewCtrl.showSendReqBtn && !profileViewCtrl.showEditOption" ng-click="profileViewCtrl.sendReq()"> send req </span>
      <span class="main-btn" ng-if="profileViewCtrl.showUnSendReqBtn && !profileViewCtrl.showEditOption" ng-click="profileViewCtrl.unSendReq()">unsend </span>
      <span class="main-btn" ng-if="profileViewCtrl.showAcceptBtn && !profileViewCtrl.showEditOption" ng-click="profileViewCtrl.acceptReq()">accept</span>
      <span class="main-btn" ng-if="profileViewCtrl.showUnFriendBtn && !profileViewCtrl.showEditOption" ng-click="profileViewCtrl.unFriend()">unfriend</span>
      <span class="main-btn" ng-if="profileViewCtrl.showEditOption" ng-click="profileViewCtrl.goToEditProfile()"> edit profile</span>
    </div>
  </section>
  
   
  <section class="profile-subnav">
    <!-- <div> -->
      <span class="subnav-btn" ng-click="profileViewCtrl.fetchMyPagePosts()">posts</span>
      <span class="subnav-btn"  ng-click="profileViewCtrl.fetchTimePosts()"> timeline </span>
      <span class="subnav-btn" ng-click="profileViewCtrl.about()"> about </span>
    <!-- </div> -->
  </section>


  <!--<button type="button" class="btn btn-default" ng-click="profileViewCtrl.openComponentModal(profileViewCtrl.profile)">create post</button>-->
<!--
  <ul>
    <post-item ng-repeat="post in profileViewCtrl.postsArr" post="post">what</post-item>
  </ul>-->

  <ul>
    <post-tile class="posttile" ng-repeat="post in profileViewCtrl.postsArr" post="post"></post-tile>
  </ul>

  <section ng-if="profileViewCtrl.showBio">
    {{profileViewCtrl.profile.bio }}
  </section>
  
</section>