.page-tile {
  outline: 1px solid grey;
  background-color: white;
  display: inline-block;
  width: 300px;
  height: 200px;

  .page-tile-banner {
    width: 100%;
    height: 50%;
  }

  .page-tile-main {
    height: 20%;
    padding: 5px 10px;
    .page-tile-header {
     display: inline-block;
     width: 40%;
      .header-name {  
        display: block;
      }
      .header-members {
        display: block;
      }
    }
    .page-tile-btn {
    
     width: 100px;
     height: 30px;
     outline: 1px solid black;
     float: right;
     padding: 5px;

     text-align: center;
    
    }

    .edit-btn {
      background-color: aqua;
    }
    .join-btn {
      background-color: green;
    }
    .leave-btn {
      background-color: red;
    }
  }
  
  .page-tile-footer {
    height: 30%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    p {
      line-height: 1em;
      overflow: hidden;
      height: 2em;
    }
  }

  
}