@import "../../../scss/lib/theme/vars";

.input-std {
 width: 40%;
}

button {
  font-family: $font-secondary;
 border: none;
 border-radius: 10%;
 cursor: pointer;
 color: $white;
 width: 30%;
 height: 50%;
}

form {
 border: none;
}

.edit-profile{
 form{
   h3{
     text-align: center;
   }
   fieldset{
     span{

     }
     input{

     }
   }
   input{
     line-height: 0;
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
   }
 }
}