<section class="edit-profile">

  <form ng-submit="editProfileCtrl.updateProfile()"
    novalidate>

    <h3>Edit profile</h3>

     <img class="upload-img" ng-src="{{editProfileCtrl.profile.profilePicURI}}" alt="profile photo">

    <label>name:</label>
    <input name="name" type="text" ng-model="editProfileCtrl.profile.name">

    <label> change profile pic</label>
    <span placeholder="editProfileCtrl.pic" ng-model="editProfileCtrl.pic" ngf-select>
      change profile picture
    </span>
    <input type="text" placeholder="editProfileCtrl.profile.profilePicURI" ng-model="editProfileCtrl.profile.profilePicURI">

    <label> change profile banner </label>
    <span ng-model="editProfileCtrl.bannerPic" ngf-select>
      change profile banner
    </span>
    <input type="text" placeholder="editProfileCtrl.profile.profileBannerPicURI" ng-model="editProfileCtrl.profile.profileBannerURI">

    <label> Bio </label>
    <textarea name="" id="" cols="30" rows="10" placeholder="editProfileCtrl.profile.bio" ng-model="editProfileCtrl.profile.bio">
    </textarea>


    <button type="submit">update profile</button>
  </form>

</section>
