.create-post {
  
  .choosebtns {
    display: block;

    button {
      display: inline-block;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    img {
      width: 100px;
    }
    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:hover{
  background-color:#f5f5f5
  }
}

  form {
    display: block;
    label {
      display: block;
    }
    input {
      display: block;
    }
  }
}