.create-post {
  img {
    max-width: 200px;
  }

  // iframe {
  //   width: 100%;
  // }
  .box {
    display: inline-block;
    background-color: #41306C;
    width: 200px;
  }
  .small-input {
    width: 2px;
  }
  .med-input {
    display: inline-block;
    width: 2px;
  }

  .content {
    display: inline-block;
    padding: 5px;
    div {
      display: inline-block;
    }
    p {
      display: inline-block;
    }
    
  }
  
  .choosebtns {
    display: block;

    button {
      display: inline-block;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    img {
      width: 100px;
    }
    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:hover{
  background-color:#f5f5f5
  }
}

  form {
    display: block;
    label {
      display: block;
    }
    input {
      // display: block;
    }
  }
}