<section ng-init="showCreateBtn = true" class="create-post">

  <div class="choosebtns">
    <button ng-click="createPostCtrl.chosePost()"> Post</button>
    <button ng-click="createPostCtrl.choseQuest()"> Question</button>
    <button ng-click="createPostCtrl.choseArticle()"> Article</button>
    <button ng-click="createPostCtrl.chosePoll()"> Poll</button>
  </div>

  

  <form name="createPostForm" ng-submit="createPostCtrl.createPost()">


    <label for="name"> title</label>
    <input name="name" type="text" ng-minlength="4" ng-model="createPostCtrl.post.title">

    <label for="Desc">description</label>

    <div class="content" ng-repeat="word in createPostCtrl.parsedArr">
      <p ng-click="createPostCtrl.index = word.index" ng-if="word.type === 'string' "> {{word.payload}} </p>  
      <img ng-if="word.type === 'img'" src="{{word.payload}}" alt="">  
      <a ng-if="word.type === 'link'" href="{{word.link}}"> {{word.payload}} </a>
      <iframe ng-if="word.type === 'embed'" src="{{word.payload | embed }}" frameborder="0"></iframe>
      <!-- <input ng-if="word.index === createPostCtrl.index" ng-if="createPostCtrl.showUpdate" class="med-input" name="Desc" type="" ng-model="createPostCtrl.parsedArr[word.index].payload" ng-change="createPostCtrl.update(word)" /> -->
    </div>
    <input class="small-inputs content" name="Desc" type="text" ng-model="createPostCtrl.x" ng-change="createPostCtrl.parse()" ng-trim="false"/>

    <section class="post" ng-if="createPostCtrl.showPic">
      <label for="pic">pic url</label>
      <img ng-src="{{createPostCtrl.post.picURI}}" alt="">
       <video src="{{createPostCtrl.post.picURI}}"></video> 
      <iframe src="{{createPostCtrl.post.picURI | embed }}" frameborder="0"></iframe>
      <button type="button" ng-click="createPostCtrl.show()">show</button>
      <input name="pic" type="text" ng-minlength="4" ng-model="createPostCtrl.post.picURI"></input>
    </section>

    <section class="poll" ng-if="createPostCtrl.showPoll">
      <section class="choice-table" ng-show="createPostCtrl.post.choices[0]">
        <table>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>remove</th>
          </tr>

        <tr ng-repeat="choice in createPostCtrl.post.choices track by $index">
        
          <td> <img ng-src="{{choice.picURI}}" alt=""> </td>
          <td> {{choice.name}} </td>
          <td ng-click="createPostCtrl.removeChoice(choice)"> X </td>

        </tr>
        </table>
      </section>

      <label for="name">choice name</label>
      <input name="name" type="text" ng-minlength="1" ng-model="createPostCtrl.choice">

      <label for="desc">choice pic</label>
      <input name="desc" type="text" ng-minlength="1" ng-model="createPostCtrl.picURI">
    
      <span ng-click="createPostCtrl.addChoice()">add choice</span>
    </section>


    <button>create post</button>
  </form>
</section>
