<section class="create-post">

  <div class="post-choice-btns">
    <button class="post-choice-btn" ng-click="createPostCtrl.chosePost()"> image </button>
    <button class="post-choice-btn" ng-click="createPostCtrl.chosePost()"> video </button>
    <button class="post-choice-btn" ng-click="createPostCtrl.choseQuest()"> Question</button>
    <button class="post-choice-btn" ng-click="createPostCtrl.choseArticle()"> Article</button>
    <button class="post-choice-btn" ng-click="createPostCtrl.chosePoll()"> Poll</button>
  </div>
  
  <div class="post-content-container">
    <form name="createPostForm" ng-submit="createPostCtrl.createPost()">

      <input class="post-title" name="name" type="text" ng-minlength="4" placeholder="Title" ng-model="createPostCtrl.post.title">
      <textarea id="man" class="post-pic-desc" ng-if="createPostCtrl.showPic" ng-keyup="createPostCtrl.adjust($event)" ng-model="createPostCtrl.post.desc" placeholder="description" ></textarea>
      <div contenteditable="">

      </div>

      <section class="post-pic-ops" ng-if="createPostCtrl.showPic">
          <div class="post-preview">
            <img class="post-preview-pic" ng-src="{{createPostCtrl.post.picURI}}" alt="">
            <!-- <iframe ng-if="createPostCtrl.post.picURI" src="{{createPostCtrl.post.picURI | embed }}" frameborder="0"></iframe> -->
          </div>
          <div class="pic-op" ng-if="!createPostCtrl.showInput" ngf-select>
            <p> Upload </p>
          </div>
          <div class="pic-op" ng-if="!createPostCtrl.showInput" ng-click="createPostCtrl.showInput = true">
            <p> CHOOSE LINK</p>
          </div>
          <div class="pic-input" ng-if="createPostCtrl.showInput">
            <input name="pic" placeholder="pic uri" type="text" ng-minlength="4" ng-model="createPostCtrl.post.picURI"></input> 
            <span class="pic-cancel" ng-click="createPostCtrl.showInput = false"> X </span>
          </div>
          <!-- <img ng-src="{{createPostCtrl.post.picURI}}" alt="">
          <iframe ng-if="createPostCtrl.post.picURI" src="{{createPostCtrl.post.picURI | embed }}" frameborder="0"></iframe>
          <input name="pic" placeholder="pic uri" type="text" ng-minlength="4" ng-model="createPostCtrl.post.picURI"></input> -->
      </section>

      
      <!-- <section class="post-filter" ng-if="!createPostCtrl.showPic">
          <div class="post-filter-desc" ng-repeat="word in createPostCtrl.parsedArr">
            <p ng-click= "createPostCtrl.focus(word)" ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word.type === 'string' "> {{word.payload}} </p>  
            <img ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word.type === 'img'" src="{{word.payload}}" alt="">  
            <a ng-if="word.type === 'link'" href="{{word.link}}"> {{word.payload}} </a>
            <iframe ng-if="word.index !== createPostCtrl.index && word.type === 'embed'" src="{{word.payload | embed }}" frameborder="0"></iframe>
            <button type="button" ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word !== null && word.type !== 'string' "> edit </button>
            <textarea id="text-edit" class="filter-desc-edit" ng-if="word.index !== createPostCtrl.index && word.type === 'string' " ng-mouseover="createPostCtrl.adjust($event)" ng-model="createPostCtrl.parsedArr[word.index].payload" ng-change="createPostCtrl.update(word)" ng-trim="false"/></textarea>
            <div class="replace-box" ng-if="word.index === createPostCtrl.index && word.type !== 'string'" ng-if="createPostCtrl.showUpdate"> 
              <span class="box-remove-btn" ng-click="createPostCtrl.removeLink(word)"> remove </span>
              <span class="box-replace-btn"> replace </span>
              <input class="box-replace-input" ng-if="word.index === createPostCtrl.index" ng-if="createPostCtrl.showUpdate" ng-model="createPostCtrl.parsedArr[word.index].payload" ng-change="createPostCtrl.update(word)"/>
              <span class="box-done-btn" ng-click="createPostCtrl.index = null"> done </span>
            </div>
          </div>
          <textarea class="post-pic-desc" placeholder="description" type="text" ng-keyup="createPostCtrl.adjust($event)" ng-model="createPostCtrl.x" ng-change="createPostCtrl.parse($event)" ng-trim="false" cols="30" rows="10"/></textarea>
      </section> -->


      <section class="post-filter" ng-if="!createPostCtrl.showPic">
        <div class="post-filter-desc" ng-repeat="word in createPostCtrl.parsedArr">
          <p ng-mouseover="createPostCtrl.index = word.index"  ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word.type === 'string' "> {{word.payload}} </p>  
          <img ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word.type === 'img'" src="{{word.payload}}" alt="">  
          <a ng-if="word.type === 'link'" href="{{word.link}}"> {{word.payload}} </a>
          <iframe ng-if="word.index !== createPostCtrl.index && word.type === 'embed'" src="{{word.payload | embed }}" frameborder="0"></iframe>
          <button type="button" ng-click="createPostCtrl.index = word.index" ng-if="word.index !== createPostCtrl.index && word !== null && word.type !== 'string' "> edit </button>
          <textarea id="text-edit" class="filter-desc-edit" ng-if="word.index === createPostCtrl.index" ng-if="createPostCtrl.showUpdate" ng-mouseover="createPostCtrl.adjust($event)" ng-model="createPostCtrl.parsedArr[word.index].payload" ng-change="createPostCtrl.update(word)" ng-trim="false"/></textarea>
          <div class="replace-box" ng-if="word.index === createPostCtrl.index && word.type !== 'string'" ng-if="createPostCtrl.showUpdate"> 
            <span class="box-remove-btn" ng-click="createPostCtrl.removeLink(word)"> remove </span>
            <span class="box-replace-btn"> replace </span>
            <input class="box-replace-input" ng-if="word.index === createPostCtrl.index" ng-if="createPostCtrl.showUpdate" ng-model="createPostCtrl.parsedArr[word.index].payload" ng-change="createPostCtrl.update(word)"/>
            <span class="box-done-btn" ng-click="createPostCtrl.index = null"> done </span>
          </div>
        </div>
        <textarea class="post-pic-desc" placeholder="description" type="text" ng-keyup="createPostCtrl.adjust($event)" ng-model="createPostCtrl.x" ng-change="createPostCtrl.parse()" ng-trim="false" cols="30" rows="10"/></textarea>
      </section>

      <section class="post-poll" ng-if="createPostCtrl.showPoll">
          <div class="post-choices">
            <table class="choice-table">
              <!-- <tr>
                <th> choice </th>
                <th>remove</th>
              </tr> -->
              <h2 class="choice-header"> Choices </h2>
              <tr ng-repeat="choice in createPostCtrl.post.choices track by $index">
                <td> 
                  <p ng-if="choice.name"> {{choice.name}} </p>
                  <img ng-if="choice.picURI" ng-src="{{choice.picURI}}" alt=""> 
                </td>
                <td class="choice-table-last"> <span class="choice-remove-btn" ng-click="createPostCtrl.removeChoice(choice)"> - </span></td>
              </tr>
              <tr class="choice-content">
                <td class="choice-content-btns" ng-if="!createPostCtrl.showChoiceInputs">
                    <span class="content-btn" ng-click="createPostCtrl.choseText()">text</span>
                    <span class="content-btn" ng-click="createPostCtrl.choseLink()">link</span>
                    <span class="content-btn" ngf-select>upload</span>
                </td>
                <td class="choice-content-inputs" ng-if="createPostCtrl.showChoiceInputs">
                    <input class="choice-input" name="text" type="text" ng-minlength="1" placeholder="choice name" ng-show="createPostCtrl.showTextInput" ng-model="createPostCtrl.choice">
                    <input class="choice-input" name="pic" type="text" ng-minlength="1" placeholder="choice pic" ng-show="createPostCtrl.showLinkInput"  ng-model="createPostCtrl.picURI">
                    <span class="choice-hide-input" ng-click="createPostCtrl.showChoiceInputs = false"> x </span>
                </td>
                <td class="choice-table-last">
                    <span class="choice-add-btn" ng-click="createPostCtrl.addChoice()"> + </span>
                </td>
              </tr>

            </table>
          </div>

      </section> 


      <button>create post</button>
    </form>
  </div>
</section>



<!-- <div class="post-choices">
    <table class="choice-table">
      <tr>
        <th>image</th>
        <th>name</th>
        <th>remove</th>
      </tr>
      <tr ng-repeat="choice in createPostCtrl.post.choices track by $index">
        <td> <img ng-src="{{choice.picURI}}" alt=""> </td>
        <td> {{choice.name}} </td>
        <td> <span class="choice-remove-btn" ng-click="createPostCtrl.removeChoice(choice)"> X </span></td>
      </tr>
      <tr>
        <td> <input class="choice-input" name="desc" type="text" ng-minlength="1" placeholder="choice pic" ng-model="createPostCtrl.picURI"> </td>
        <td> <input class="choice-input" name="name" type="text" ng-minlength="1" placeholder="choice name" ng-model="createPostCtrl.choice"> </td>
        <td> <span class="choice-add-btn" ng-click="createPostCtrl.addChoice()"> add choice </span> </td>
      </tr>

    </table>
  </div> -->


          <!-- <label for="name">choice name</label>
          <input name="name" type="text" ng-minlength="1" ng-model="createPostCtrl.choice">

          <label for="desc">choice pic</label>
          <input name="desc" type="text" ng-minlength="1" ng-model="createPostCtrl.picURI">
        
          <span ng-click="createPostCtrl.addChoice()">add choice</span> -->
