.edit-page {
  display: inline-block;
  width: 100%;
  .edit-page-container {
    // outline: 1px solid black;
    display: block;
    width: 500px;
    max-width: 100%;
    padding: 10px;

    fieldset {
      display: block;
      margin: 10px auto;
      padding: 10px;
      border-top: 1px solid rgb(165, 162, 162);

      label {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
      }
    }

    .edit-input {
      display: block;
      width: 90%;
      padding: 10px;
      // margin: 10px auto;
    }

    .edit-desc, .edit-greeting {
      min-height: 100px;
      resize: none;
    }
    
    .post-pic-ops {
      // background-color: slateblue;
      display: block;
      // margin: 10px auto;
      width: 90%;
      text-align: center;
      .pic-op {
        outline: 1px solid black;
        display: inline-block;
        margin: 10px;
        // width: 150px;
        // height: 100px;
        padding: 10px;
        max-width: 40%;

        &:hover {
          background-color: white;
          color:  #00D9FF;
        }
      }
      .pic-input {
        outline: 1px solid black;
        display: inline-block;
        margin: 10px;
        width: 90%;
        input {
          width: 90%;
          height: 30px;
        }
        .cancel {
          width: 90%;
        }
      }

      .post-preview {
        .post-preview-pic {
          width: 100%;
        }
      }
    }

    .link-table {
      width: 90%;
      // outline: 1px solid black;
      tr {
        // outline: 2px solid grey;
        vertical-align: middle;
      }
      td {
        // outline: 1px solid grey;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        padding: 10px;
      }

      .links {
        // padding: 10px;
        margin: 10px;
        .remove-link-btn {
          outline: 1px solid grey;
          padding: 5px;
          background-color: red;
        }
      }

      .add-link {

        .add-link-btn {
          outline: 1px solid grey;
          padding: 5px;
          background-color: aqua;
        }
      }
    }

    
    .edit-btn {
      display: block;
      margin: 10px auto;
      width: 200px;
      height: 30px;
      max-width: 100%;
      background-color: #00D9FF;
    }

  }
}