<section class="edit-page">
  
  <form name="editPageForm" ng-submit="editPageCtrl.editPage()">

    <label for="name">Page name</label>
    <input name="name" type="text" ng-minlength="4" ng-model="editPageCtrl.page.pageName">

    <label for="Desc">Page description</label>
    <textarea cols="40" rows="5" placeholder="editPageCtrl.page.pageDesc" ng-model="editPageCtrl.page.pageDesc">
    </textarea>

    <label for="">page banner </label>
    <img ng-src="{{editPageCtrl.page.pageBannerURI}}" alt="">
    <input name="name" type="text" ng-minlength="4" ng-model="editPageCtrl.page.pageBannerURI">
    <button type="button" ngf-select ng-model="editPageCtrl.page.picfile">
      select an banner image
    </button>

    <label for="">page greeting</label>
    <textarea name="" id="" cols="40" rows="5"></textarea>

    <label for="status">public</label>
    <input type="checkbox" name="status" value="private">

    <button ng-disabled="editPageForm.$invalid">edit page</button>
  </form>
</section>
