.modal-body {
  img {
    max-width: 100%;
    max-height: 300px;
  }
  .poll {
    width: 100px;
    display: inline-block;
    margin: 10px;
  }
  .content {
    display: inline-block;
    padding: 0px;
    padding-right: 5px;
    img {
      display: inline-block;
      padding: 0px;
    }
  }
//   background-color: black;
//   // width: 60vw;

//   .post-content {
//     position: relative;
//     display: inline-block;
//     border: 1px solid black;
//     background-color: #333333;
//     height: 100%;
//     min-height: 350px;
//     width: 60%;
//     img {
//       max-width: 100%;
//     }
//     video {
//       max-width: 100%;
//     }
//   }

//   .post-side {
//     position: absolute;
//     display: inline-block;
//     // margin-left: 46%;
//     // margin-top: -25px;
//     width: 230px;
//     min-height: 350px;
//     height: 90%;
//     border: 1px solid black;
//     background-color: grey;
//     color: white;
//     img {
//       width: 50px;
//     }
//     .post-header {
//       display: inline-block;
//     }

//     .comments {
//       overflow: auto;
//       height: 150px;
//     }
//   }
// }

// // .modal-body {
// //   width: 60vw;
}