

.post-item {
  * {
    vertical-align: middle;
  }
  background-color: green;

  .post-item-head {
    outline: 1px solid grey;
    display: block;
    width: 100%;

    .head-owner {
      background-color: #62E9F3;
      display: inline-block;
      img {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .owner-names {
        outline: 1px solid grey;
        display: inline-block;
        height: 100%;
        // vertical-align: middle;
        
      }

    }

    .head-options {
      float: right;
      outline: 1px solid black;
      .dot {
        display: inline-block;
        background-color: black;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 3px;
      }

      .dropdown-menu {
        .menu-op {
          border-bottom: 1px solid #AAAAAA;
          display: block;
          width: 100%;
          padding: 7px;
        }
      }

    }
  }

  img {
    width: 100%;
  }

}





//=======================================================

// .modal-body {
//   img {
//     max-width: 100%;
//     max-height: 300px;
//   }
//   .poll {
//     width: 100px;
//     display: inline-block;
//     margin: 10px;
//   }
//   .content {
//     display: inline-block;
//     padding: 0px;
//     padding-right: 5px;
//     img {
//       display: inline-block;
//       padding: 0px;
//     }
//   }

//   .dots {
//     font-size: 50px;
//     // width: 50px;
//   }

//   iframe {
//     min-width: 500px;
//     min-height: 300px;
//   }

//   background-color: black;
//   // width: 60vw;

//   .post-content {
//     position: relative;
//     display: inline-block;
//     border: 1px solid black;
//     background-color: #333333;
//     height: 100%;
//     min-height: 350px;
//     width: 60%;
//     img {
//       max-width: 100%;
//     }
//     video {
//       max-width: 100%;
//     }
//   }

//   .post-side {
//     position: absolute;
//     display: inline-block;
//     // margin-left: 46%;
//     // margin-top: -25px;
//     width: 230px;
//     min-height: 350px;
//     height: 90%;
//     border: 1px solid black;
//     background-color: grey;
//     color: white;
//     img {
//       width: 50px;
//     }
//     .post-header {
//       display: inline-block;
//     }

//     .comments {
//       overflow: auto;
//       height: 150px;
//     }
//   }
// }

// // .modal-body {
// //   width: 60vw;
// }


// <li class="post-item modal-body">

//     <p ng-if="postItemCtrl.reposter"> shared by {{postItemCtrl.reposter.name}}</p>
    
//       <span uib-dropdown on-toggle="toggled(open)">
//       <span uib-dropdown-toggle alt=""> <div class="dots">...</div> </span>
//       <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
//         <li ng-click="postItemCtrl.openEditPostModal()">edit</li>
//         <li ng-click="postItemCtrl.delete()">delete</li>
//         <li ng-click="postItemCtrl.report()">report</li>
//       </ul>
//       </span>

//     <section class="post-item-head">

//     </section>

     

//   <!--<button ng-click="postItemCtrl.cancel()">x</button>-->

//   <!--<div class="current-post" ng-if="!postItemCtrl.showEditComment">-->

//     <ul class="post-body">
//       <li class="post-content">
//             <img ng-if="!postItemCtrl.isVid" ng-src="{{postItemCtrl.post.picURI }}" alt="">
//             <video ng-if="postItemCtrl.isVid" ng-src="{{ postItemCtrl.post.picURI }}" controls>
//               Youre browser does not support HTML5
//             </video>
//       </li>
//       <li class="post-side">
//         <ul>
//           <li class="post-header">
//             <p ng-if="postItemCtrl.post.edited">  edited </p>
//             <img src="{{postItemCtrl.poster.profilePicURI}}">
//             <div class="poster-name">Poster: {{postItemCtrl.poster.name}}</div>
//             <div class="date">Date: {{postItemCtrl.post.created | date : 'mediumDate'}}</div>
//             <h2> {{ postItemCtrl.post.title }}</h2>
//              <!-- <div> {{ postItemCtrl.post.desc }}</div> -->

//              <section class="poll" ng-repeat="choice in postItemCtrl.choicesArr">
//               <button ng-click="postItemCtrl.vote(choice)">
//                 <img ng-src="{{choice.picURI}}" alt="">
//                   {{choice.name}} {{ choice.voters.length }} 
//                   </button>
//             </section>  

//             <div class="content" ng-repeat="word in postItemCtrl.parsedArr">
//                    <p ng-if="word.type === 'string' "> {{word.payload}} </p>  
//                     <img ng-if="word.type === 'img'" src="{{word.payload}}" alt="">  
//                  <a ng-if="word.type === 'link'" href="{{word.link}}"> {{word.payload}} </a>
//                  <iframe ng-if="word.type === 'embed'" src="{{word.payload | embed }}" frameborder="0"></iframe>
//             </div>

//             <div>
//               <button ng-click="postItemCtrl.likePost()">like {{postItemCtrl.post.likes.length}}</button>
//               <button ng-click="postItemCtrl.dislikePost()">dislike {{postItemCtrl.post.dislikes.length}}</button>
//             </div>
//           </li>

//           <!--<li class="create-comment">
//             <create-comment
//             logged-in="postItemCtrl.loggedIn" 
//             on-comment-created="postItemCtrl.updatePostView()"
//             post="postItemCtrl.post">
//             </create-comment>
//           </li>

//           <li class="comments">
//             <comment-item ng-repeat="comment in postItemCtrl.commentArr" 
//                           comment="comment" 
//                           on-comment-change="postItemCtrl.updatePostView()"
//                           profile="postItemCtrl.poster">
//             </comment-item>
//           </li>-->

//           <create-answer post="postItemCtrl.post"></create-answer>

//           <answer-item ng-repeat="comment in postItemCtrl.commentsArr" post="postItemCtrl.post" answer="comment"></answer-item>

//         </ul>
//     </li>

//   </ul>
    

    
    
//     <!--<ul class="post-info">-->
//       <!--<li> <img src="{{postItemCtrl.poster.profilePicURI}}"></li>-->
//       <!--<li class="poster-name">Poster: {{postItemCtrl.poster.name}}</li>-->
//       <!--<li> Date: {{postItemCtrl.post.created | date : 'mediumDate'}}</li>-->
//       <!--<li> <img ng-src="{{postItemCtrl.post.postPicURI }}" alt=""> </li>-->
//       <!--<li>Description: {{postItemCtrl.post.description}}</li>      -->
//     <!--</ul>-->

//   <!--</div>-->
 



//   <!--postItemCtrl.showComments = true && postItemCtrl.showCommentBtn = true-->


//  <!--// <edit-post on-post-edited="postItemCtrl.updateCommentItemView()" ng-if="postItemCtrl.loggedIn && postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" post="postItemCtrl.post"></edit-post>
  
//   //<!--<input ng-if="postItemCtrl.loggedIn && !postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.showEditComment = !postItemCtrl.showEditComment" class="btn-std poster-button" value="edit" type="submit">-->

//   <!--//<input ng-if="postItemCtrl.loggedIn && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.deleteComment(postItemCtrl.post)" class="btn-std poster-button" type="submit" value="delete">-->
  
//   <!--<div class="clearfix">
//   </div> -->
// </li>