.postItem {


  .post-content {
    display: inline-block;
    border: 1px solid black;
    background-color: #333333;
    height: 100%;
    width: 45%;
  }

  .post-side {
    display: block;
    margin-left: 46%;
    border: 1px solid black;
    background-color: grey;
    color: white;

    .post-header {
      display: inline-block;
    }
  }
}