<li class="postItem" ng-click="postItemCtrl.updatePostView()">
  <!--<on-init></on-init>-->

  <div class="current-post" ng-if="!postItemCtrl.showEditComment">

    <ul class="post-info">
      <li> <img src="{{postItemCtrl.poster.profilePicURI}}"></li>
      <li class="poster-name">Poster: {{postItemCtrl.poster.name}}</li>
      <li> Date: {{postItemCtrl.post.data.created | date : 'mediumDate'}}</li>
      <li>Description: {{postItemCtrl.post.data.description}}</li>      
    </ul>

  </div>
  <create-comment 
      logged-in="postItemCtrl.loggedIn" 
      ng-if="postItemCtrl.showCreateComment" 
      on-comment-created="postItemCtrl.updatePostView()" 
      post="postItemCtrl.post">
  </create-comment>



  <!--postItemCtrl.showComments = true && postItemCtrl.showCommentBtn = true-->

  <comment-item ng-repeat="comment in postItemCtrl.commentArr" comment="comment" profile="postItemCtrl.poster"></comment-item>

 <!--// <edit-post on-post-edited="postItemCtrl.updateCommentItemView()" ng-if="postItemCtrl.loggedIn && postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" post="postItemCtrl.post"></edit-post>
  
  //<!--<input ng-if="postItemCtrl.loggedIn && !postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.showEditComment = !postItemCtrl.showEditComment" class="btn-std poster-button" value="edit" type="submit">-->

  <!--//<input ng-if="postItemCtrl.loggedIn && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.deleteComment(postItemCtrl.post)" class="btn-std poster-button" type="submit" value="delete">-->
  
  <!--<div class="clearfix">
  </div> -->
</li>