<li class="postItem modal-body">
  <on-init></on-init>

  <!--<button ng-click="postItemCtrl.cancel()">x</button>-->

  <!--<div class="current-post" ng-if="!postItemCtrl.showEditComment">-->

    <ul class="post-body">
      <li class="post-content">
        <img ng-if="!postItemCtrl.isVid" ng-src="{{postItemCtrl.resolve.post.postPicURI }}" alt="">
        <video ng-if="postItemCtrl.isVid" ng-src="{{ postItemCtrl.resolve.post.postPicURI }}" controls>
          Youre browser does not support HTML5
        </video>
      </li>
      <li class="post-side">
        <ul>
          <li class="post-header">
            <img src="{{postItemCtrl.poster.profilePicURI}}">
            <div class="poster-name">Poster: {{postItemCtrl.poster.name}}</div>
            <div class="date">Date: {{postItemCtrl.resolve.post.created | date : 'mediumDate'}}</div>
            <div> {{ postItemCtrl.resolve.post.description }}</div>
            <div>
              <button ng-click="postItemCtrl.likePost()">like</button>
              <button ng-click="postItemCtrl.unLikePost()">unlike</button>
              <button ng-click="postItemCtrl.dislikePost()">dislike</button>
            </div>
          </li>

          <li class="create-comment">
            <create-comment
            logged-in="postItemCtrl.loggedIn" 
            on-comment-created="postItemCtrl.updatePostView()"
            post="postItemCtrl.resolve.post">
            </create-comment>
          </li>

          <li class="comments">
            <comment-item ng-repeat="comment in postItemCtrl.commentArr" 
                          comment="comment" 
                          on-comment-change="postItemCtrl.updatePostView()"
                          profile="postItemCtrl.poster">
            </comment-item>
          </li>

        </ul>
    </li>

  </ul>
    

    
    
    <!--<ul class="post-info">-->
      <!--<li> <img src="{{postItemCtrl.poster.profilePicURI}}"></li>-->
      <!--<li class="poster-name">Poster: {{postItemCtrl.poster.name}}</li>-->
      <!--<li> Date: {{postItemCtrl.resolve.post.created | date : 'mediumDate'}}</li>-->
      <!--<li> <img ng-src="{{postItemCtrl.resolve.post.postPicURI }}" alt=""> </li>-->
      <!--<li>Description: {{postItemCtrl.resolve.post.description}}</li>      -->
    <!--</ul>-->

  <!--</div>-->
 



  <!--postItemCtrl.showComments = true && postItemCtrl.showCommentBtn = true-->


 <!--// <edit-post on-post-edited="postItemCtrl.updateCommentItemView()" ng-if="postItemCtrl.loggedIn && postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" post="postItemCtrl.post"></edit-post>
  
  //<!--<input ng-if="postItemCtrl.loggedIn && !postItemCtrl.showEditComment && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.showEditComment = !postItemCtrl.showEditComment" class="btn-std poster-button" value="edit" type="submit">-->

  <!--//<input ng-if="postItemCtrl.loggedIn && postItemCtrl.profile._id === postItemCtrl.post.posterProfileID" ng-click="postItemCtrl.deleteComment(postItemCtrl.post)" class="btn-std poster-button" type="submit" value="delete">-->
  
  <!--<div class="clearfix">
  </div> -->
</li>