.navbar {
  background-color: #333333;
  width: 100%;
  li {
    display: inline-block;
  }
}

@import "../../scss/lib/theme/vars";

.navbar {
  position: relative;
  .navbar-ul{

    li {
      display: inline-block;
    }

    .nav-link{
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      width: 50px;
      border: 2px solid white;
      border-radius: 30%;
      text-align: center;
    }

    .searchbar {
      margin-left: 10vw;
      border: none;

      input {
        width: 40vw;
      }
    }

    .signup-btn {
    margin-left: 80%;
    border: 1px solid white;
    padding: 10px;
    color: white;
  }

  .searches {
    background-color: white;
    display: block;
    position: absolute;
  }

  .login-btn {
    //  margin-left: 50%;
    border: 1px solid white;
    padding: 10px;
    color: white;
   }

   li:nth-child(5){
     margin-left: 90%;

     img {
       border-radius: 50%;
       width: 50px;
     }

     li {
      display: block;
      border-bottom: 1px solid black;
      padding: 5px;
    }
   }
  }

}