@import "../../scss/main";

.navbar-component {
  margin: 0px;
  padding: 5px;
  @include container-fixed(10px);
  $navbar-height: 35px;
  outline: 1px solid black;
  background-color: #252525;
  padding-top: 6px;
  margin: 0px;
  .navbar-row {
    @include make-row(10px);
    height: 100%;
  }
  .navbar-main {
    float: left;
  }
  .navbar-main-logo {
    color: silver;
  }
  .navbar-main-logo {
    @include make-xs-column(2, 5%);
    @include make-sm-column(1, 5%);
    @include make-lg-column(1, 5%);
    
    height: $navbar-height;
    min-width: 40px;
    .navbar-logo {
      width: 100%;
      max-height: 100%;
    }

  }

  .navbar-searchbar {
    @include make-xs-column(8, 5%);
    @include make-sm-column(10, 5%);
    @include make-lg-column(10, 5%);

    height: $navbar-height;
    input {
      margin: 0 20%;
      width: 60%;
      height: 100%;
      padding: 15px;
      border: 1px solid grey;
      border-radius: 5px;
    }

    .search-results {
      background-color: white;
      margin: 0 20%;
      width: 60%;
      height: 100%;
      padding: 15px;
      border: 1px solid grey;
    }
  }

  .navbar-auth {
    @include make-xs-column(2, 5%);
    @include make-sm-column(1, 5%);
    @include make-lg-column(1, 0%);
   
    height: $navbar-height;

    .navbar-login {
      display: inline-block;
      position: relative;
      text-align: center;
      border: 1px solid white;
      border-radius: 10px;
      width: 90%;
      height: $navbar-height;
      outline: 1px solid grey;
      font-size: 20px;
      padding: 5%;
    }

    .navbar-menu {
      .menu-pic {
        border-radius: 50%;
        height: 100%;
      }

      .navbar-dropdown {
        border: 1px solid black;
        width: 20vw;

        .menu-header {
          background-color: tan;
          padding: 10px 20px;
          img {
            display: inline-block;
            border-radius: 50%;
            height: 40px;
          }
          .header-names {
            display: inline-block;
            padding: 0 10%;
            p {
              display: block;
            }
          }
        }

        .menu-op {
          display: block;
          padding: 10px 20px;
          width: 100%;
          height: 30%;
          border: 1px solid black;

          img {
            display: inline-block;
            width: 10%;
          }

          p {
            display: inline-block;
            padding-left: 15%;
          }
        }

      }
    }
  }

  margin: 0px;
}
