<section class="navbar">
  <ul class="navbar-ul">
    <li class="nav-link" id="logo" ng-click="navbarCtrl.home()"><h2>K</h2></li>
    <li class="searchbar" ng-show="!navbarCtrl.hideLogout"><input type="text"></li>
    <li class="signup-btn"ng-show="!navbarCtrl.hideSignupBtn" class="signup" ng-click="navbarCtrl.goSignUp()">sign up</li>
    <!--<li ng-show="!navbarCtrl.hideMyRecipesBtn" class="signup" ng-click="navbarCtrl.myPage()">my page</li>-->
    <li class="login-btn" ng-show="!navbarCtrl.hideLoginBtn" class="signup" ng-click="navbarCtrl.goLogin()">login</li>
    <!--<li ng-show="!navbarCtrl.hideLogout" class="login" ng-click="navbarCtrl.logout()">logout</li>-->
    <!--<li ng-show="!navbarCtrl.hideHomeBtn" class="login" ng-click="navbarCtrl.home()">home</li>-->
    <li ng-show="!navbarCtrl.hideProfileBtn">
      <span uib-dropdown on-toggle="toggled(open)">
       <img ng-src="{{navbarCtrl.profilePic}}" uib-dropdown-toggle alt="">
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
        <li  class="login" ng-click="navbarCtrl.home()">home</li>
        <li  class="signup" ng-click="navbarCtrl.myPage()">my page</li>
        <li class="settings-nav" ng-click="navbarCtrl.myAccount()">settings</li>
        <li  class="login" ng-click="navbarCtrl.logout()">logout</li>
      </ul>
    </span>
    </li>
  </ul>
</section>
