.edit-post {

  // img {
  // max-width: 300px;
  // min-width: 100px;
  // }

  .post-title {
    border: 1px solid grey;
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 90%;
    height: 35px;
  }

  .post-pic-desc {
    // outline: 1px solid grey;
    border: 1px solid grey;
    display: block;
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
    // overflow: hidden;
    // height: 50px;
    // min-height: 100px;
  }



  .post-pic {
    background-color: slateblue;
    display: block;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    // img {
    //   width: 100%;
    // }
    .pic-op {
      outline: 1px solid black;
      display: inline-block;
      margin: 10px;
      // width: 150px;
      // height: 100px;
      padding: 10px;
      max-width: 40%;
    }
    .pic-input {
      outline: 1px solid black;
      display: inline-block;
      margin: 10px;
      width: 90%;
      input {
        width: 90%;
        height: 30px;
      }
      .cancel {
        width: 90%;
      }
    }

    .post-preview {
      .post-preview-pic {
        width: 100%;
      }
    }


  }

  .post-content {
    // display: block;
    // outline: 1px solid red;
    // width: 90%;
    // margin: auto;

    // .ta-editor {
    //   min-height: 300px;
    //   height: auto;
    //   overflow: auto;
    //   font-family: inherit;
    //   font-size: 100%;
    //   h1 {
    //     font-size: 30px;
    //   }
    //   b {
    //     font-weight: bold;
    //   }
    // }

    // .ta-resizer-handle-overlay{
    //   outline: 1px solid black;

    //   .ta-resizer-handle-background {
    //     background-color: green;
    //     width: 20px;
    //     height: 20px;
    //   }
    //   .ta-resizer-handle-corner-br {
    //     height: 10px;
    //     width: 10px;
    //     background-color: rgb(47, 158, 192);
    //   }
    // }

    // .ta-root {
    //   .ta-toolbar {
    //     margin: 0px;
    //     padding: 0px;
    //   }
    //   .ta-text {
    //     margin: 0px;
    //     padding: 0px;
    //   }

    // }

   

  }





  .post-poll {
    display: block;
    width: 100%;
    // background-color: greenyellow;

    tr {
      // outline: 2px solid grey;
      vertical-align: middle;
    }
    td {
      // outline: 1px solid red;
      vertical-align: middle;
      border-top: 1px solid #ddd;
      padding: 10px;
    }
    .choice-header {
      // margin: auto;
      text-align: center;
    }
    .choice-table {
      width: 90%;
      margin: 10px auto;

      
      img {
        width: 100px;
        display: inline-block;
      }

      .choice-table-last {
        max-width: 10%;
        // min-width: 30px;
        width: 30px;
        text-align: center;
      }

      .choice-content-btns {
        display: block;
        text-align: center;
        .content-btn {
          outline: 1px solid grey;
          display: inline-block;
          padding: 10px;
          max-height: 100%;
          max-width: 100%;
          margin: 0 2%;
          // background-color: green;
          // color: white;
        }
      }

      .choice-content-inputs {
        display: block;
        height: 60px;
        width: 100%;
        .choice-input {
          border: 1px solid grey;
          display: inline-block;
          width: 80%;
          height: 100%;
          margin: 0px;
        }
        .choice-hide-input {
          margin: 0px;
          display: inline-block;
          padding: 10px;
          max-height: 100%;
          max-width: 15%;
          min-height: 30px;
          min-width: 30px;
          outline: 1px solid grey;
        }
      }
      
      .choice-remove-btn {
        display: inline-block;
        padding: 10px;
        max-height: 100%;
        max-width: 100%;
        min-height: 30px;
        min-width: 30px;
        background-color: red;
        color: white;
        outline: 1px solid grey;
      }
      .choice-add-btn {
        outline: 1px solid grey;
        display: inline-block;
        padding: 10px;
        max-height: 100%;
        max-width: 100%;
        background-color: #00D9FF;
        color: white;
      }
    }
  }

  .edit-post-btn {
    display: block;
    width: 250px;
    max-width: 100%;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(0, 195, 255);
    outline: 1px solid grey;
  }

}
