<section class="edit-post-modal">
      <img class="edit-post-img" ng-src="{{editPostCtrl.resolve.post.postPicURI}}" alt="">
  edit <p>{{editPostCtrl.resolve.post.description}}</p>

  <form action=""
        ng-submit="editPostCtrl.updatePost()">

     <div>
        <span
              ngf-select
              ng-model="editPostCtrl.upload"> upload pic
        </span>

      </div>

      <div>
         <!--<label for="desc">Description</label>-->
        <input class="input-std"
              name="desc"
              type="text"
              placeholder="description"
              ng-minlength="4"
              ng-model="editPostCtrl.post.description">
      </div>

      <input type="submit"
              value="save post">
  </form>


</section>