<section class="createarticle">

<section>
  <form name="createArticleForm" ng-submit="createArticleCtrl.createArticle()">

    <label for="name">Question title</label>
    <input name="name" type="text" ng-minlength="4" ng-model="createArticleCtrl.article.title">

    <label for="Desc">Question description</label>
    <input name="Desc" type="text" ng-minlength="4" ng-model="createArticleCtrl.article.content">

    <button ng-disabled="createArticleForm.$invalid">create article</button>
  </form>
</section>

<button ng-click="createArticleCtrl.cancel()">cancel</button>
  
</section>
